//colors
:root {
  --white: #FFFFFF;
  --black: #191B21;
  --green: #BAEDB2;
  --orange: #D39768;
  --light: #EFF2F5;
  --fiolet: #8771CC;
  --yellow: #EAD15E;
  --bg_gradient: linear-gradient(358deg, #212328 26.61%, #363D42 106.65%);

  --gap: 3%;
  --borderR: 45px;
}