@import 'utils/variables.scss';
@import 'utils/globalClass.scss';

.header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background: var(--black);

    &_inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 90px;
        padding: 25px 0;
    }

    &_logo {
        img {
            height: 55px;
        }
    }

    &_nav {
        width: 100%;
    }

    &_navList {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        gap: 15px;

        &__item {
            color: var(--green);
            font-size: clamp(16px, 5vw, 18px);
            line-height: 1.5;
        }
    }
}