@import 'utils/variables.scss';
@import 'utils/globalClass.scss';

.advantages {
  padding-top: 115px;

  &-academy {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;



    &_item {
      border-radius: var(--borderR);
      padding: 40px;

      &-title {
        font-size: 36px;
        line-height: 1.5;
      }

      &:first-child {
        background: var(--white);
      }

      &:last-child {
        background: var(--orange);
      }
    }
  }
}