@import 'utils/variables.scss';
@import 'utils/globalClass.scss';

// ===PRESA===
.presa {
  padding-top: 115px;
  display: grid;
  flex-direction: column;
  gap: var(--gap);

  &-banner {
    height: 100%;
    place-items: center;
    position: relative;
    background: url('images/gradient.png'), linear-gradient(313deg, #212328 61.6%, #363D42 93.04%);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    border-top: var(--white);
    border-right: var(--white);
    border-radius: var(--borderR);
    overflow: hidden;
    padding: var(--padding);

    &::before {
      content: '';
      background: conic-gradient(transparent 270deg, var(--white), transparent);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      aspect-ratio: 1;
      width: 100%;
      animation: rotateBorder 4s linear infinite;
    }

    &::after {
      content: '';
      background: inherit;
      border-radius: inherit;
      border-radius: inherit;
      position: absolute;
      inset: 3px;
      height: calc(100% - 2 * 3px);
      width: calc(100% - 2 * 3px);

    }

    &_desc {
      display: flex;
      gap: 100px;
      position: relative;
      height: 100%;
      z-index: 2;
      flex-direction: column;
      justify-content: space-between;
    }

    &__image {
      height: 100%;
      position: absolute;
      right: 0;
      top: 50%;
      z-index: 1;
      transform: translateY(-50%);
    }

    .bold {
      position: relative;

      &::after {
        content: "";
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 10px;
        background-image: url('svg/cryptoEmergency.svg');
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        height: 20px;
      }
    }
  }

  &-academy {
    display: grid;
    grid-template-columns: 45% 52.5%;
    gap: var(--gap);
    color: var(--black);

    &_item {
      border-radius: var(--borderR);
      padding: var(--padding);

      &-title {
        font-size: clamp(18px, 2.5vw, 30px);
        line-height: 133%;
        margin-bottom: var(--mb);
      }

      &:first-child {
        background: var(--white);
      }

      &:last-child {
        background: var(--orange);
      }
    }
  }
}

// ===ADVANTAGES===
.advantages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4vw;
  margin-bottom: 50px;

  &_section {
    position: relative;

    .circle {
      right: -40%;
      top: 50%;
      transform: translateY(-50%);
      width: 737px;
      height: 900px;
    }
  }

  &_item {
    &__title {
      font-size: clamp(20px, 2.5vw, 30px);
      font-weight: 600;
      margin-bottom: 1.2vw;
      display: block;
    }
  }
}

// ===EXPERTS===
.experts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5vw;

  &_item {
    background-color: var(--light);
    border-radius: var(--borderR);
    color: var(--black);
    background-position: bottom right;
    background-size: 200px;
    background-repeat: no-repeat;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 1.5vw;

    &__user {
      display: none;
    }

    &__name {
      font-size: var(--title);
      font-weight: 400;
      line-height: 100%;
    }

    &__skills {
      font-weight: 500;
      line-height: 122%;
      font-size: clamp(16px, 2.5vw, 24px);
    }

    &__desc {
      font-size: clamp(14px, 3vw, 16px);
      font-weight: 400;
      line-height: 125%;
      max-width: 65%;
    }

  }
}

// ===PROGRAM===
.program {
  display: flex;
  flex-direction: column;
  gap: 25px;

  &_item {
    background-image: linear-gradient(180deg, #212328 0%, #212328 100%);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: var(--borderR);
    padding: 4vw;

    &__title {
      border: 1px solid var(--green);
      border-radius: 15px;
      width: fit-content;
      margin: 0 auto;
      padding: 10px 20px;

      h3 {
        font-size: var(--title);
        font-weight: 700;
        line-height: 115%;
        font-family: 'Montserrat';
      }
    }

    &-info {
      display: grid;
      grid-template-columns: 40% 60%;
      gap: var(--gap);
      padding-top: var(--padding);

      &__subtitle {
        font-size: clamp(18px, 3vw, 24px);
        font-weight: 600;
        text-transform: uppercase;
        line-height: 122%;
        margin-bottom: var(--mb);
        display: block;
      }
    }

    &-expert {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;

      &__circle {
        width: 12.5rem;
        height: 12.5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid var(--green);
        overflow: hidden;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: var(--gap);
      background: #32383D;
      padding: var(--padding);
      border-radius: var(--borderR);
    }

    &-details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: var(--gap);
      color: var(--black);
      font-size: 16px;
      font-weight: 700;
      line-height: 0.9;

      &__circle,
      &__rect {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 7px;
      }

      &__circle {
        width: 100px;
        height: 100px;
        border-radius: 50%;

        &-green {
          background: var(--green);
        }

        &-fiolet {
          background: var(--fiolet);
        }
      }

      &__rect {
        border-radius: var(--borderR);
        background: var(--orange);
        padding: 15px 30px;
        height: fit-content;
      }

    }

    &__text {
      font-size: 16px;
      line-height: 1.2;
      padding-bottom: 10px;
    }

    &-result {
      padding-top: var(--padding);
    }

  }
}

// ===RESULTS===
.results {
  background: #F3F4F5;
  border: 2px solid var(--grey);
  border-radius: var(--borderR);
  color: var(--black);
  padding: 3vw 4vw;

  &_title {
    font-size: clamp(22px, 5vw, 70px);
    line-height: 122%;
  }

  &_info {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: var(--gap);
    padding-top: 3vw;

    &-text {
      .text {
        padding-bottom: 2vw;
      }
    }

    &-img {
      img {
        width: 100%;
      }
    }
  }

  &_calls {
    background: #D9D9D9;
    border-radius: var(--borderR);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: var(--padding);
    margin-bottom: 4vw;
  }
}

// ===RATES===
.rates {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);


  &_item {
    border-radius: var(--borderR);
    padding: 2vw 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(313deg, #212328 61.6%, #363D42 93.04%);

    &-title {
      font-size: clamp(18px, 2.5vw, 24px);
      text-transform: uppercase;
      line-height: 122%;
      font-weight: 700;
      margin-bottom: var(--mb);
      text-align: center;
    }

    &__icon {
      width: 25px;
    }

    &-list {
      padding: 0 2vw;

      &__item {
        font-size: 16px;
        font-weight: 400;
        line-height: 125%;
        padding-bottom: 1.3vw;
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    &-price {
      margin: 0 2vw;
      font-size: clamp(18px, 5vw, 24px);
      line-height: 1;
      font-weight: 700;
      padding: 15px 30px;
      text-align: center;
      border-radius: 15px;
      color: var(--black);
      margin-top: 15px;

      &__green {
        background: var(--green);
      }

      &__yellow {
        background: var(--yellow);
      }

      &__fiolet {
        background: var(--fiolet);
      }
    }

    &-bonus {
      width: 100%;
      background: var(--fiolet);
      padding: 1.5vw 2vw;
      display: flex;
      justify-content: center;
      align-items: center;

      &__text {
        font-size: 14px;
        line-height: 125%;
        text-align: center;
        font-weight: 600;
      }
    }

    &__green {
      border: 3px solid var(--green);

      .rates_item-title {
        color: var(--green);
      }
    }

    &__yellow {
      border: 3px solid var(--yellow);

      .rates_item-title {
        color: var(--yellow);
      }
    }

    &__fiolet {
      border: 3px solid var(--fiolet);

      .rates_item-title {
        color: var(--fiolet);
      }
    }
  }
}

// ===SCROLLTOP===
.scrollTop {
  width: 4rem;
  height: 4rem;
  // padding: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 111;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
  background-image: linear-gradient(180deg, #212328 0%, #212328 100%);
  -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  pointer-events: none;

  &__show {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

// ===ANIMATION===
@keyframes rotateBorder {
  from {
    transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }

  to {
    transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}

// ===MEDIA===

@media(max-width: 1170px) {
  .wrapper {
    padding: 0 10px;
  }

  .presa {
    padding-top: 100px;
  }

  .rates {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'rateGreen rateYellow'
      'rateFiolet rateFiolet';

    &_item {
      &__green {
        grid-area: rateGreen;
      }

      &__yellow {
        grid-area: rateYellow;
      }

      &__fiolet {
        grid-area: rateFiolet;

        .rates_item-list {
          display: grid;
          column-gap: var(--gap);
          grid-template-columns: repeat(2, 1fr);
        }
      }

      &-bonus {
        &__text {
          font-size: clamp(16px, 3.5vw, 18px);
        }
      }
    }
  }
}

@media(max-width: 900px) {
  .experts {
    max-width: 80%;
    margin: 0 auto;
    grid-template-columns: 1fr;

    &_item {
      background-size: 187px;

      &__skills {
        max-width: 80%;
      }
    }
  }
}

@media(max-width: 680px) {
  .presa {
    &-banner {
      background-size: cover;
    }

    &-academy {
      grid-template-columns: 1fr;
    }
  }

  .advantages {
    grid-template-columns: 1fr;
  }

  .experts {
    max-width: 90%;

    &_item {
      &__skills {
        max-width: 80%;
      }
    }
  }

  .results {
    &_info {
      grid-template-columns: 1fr;

      &-img {
        display: none;
      }
    }
  }
}

@media(max-width: 600px) {
  .experts {
    max-width: 100%;
  }

  .rates {
    grid-template-columns: 1fr;
    grid-template-areas:
      'rateGreen'
      'rateYellow'
      'rateFiolet';

    &_item {
      &__fiolet {
        grid-area: rateFiolet;

        .rates_item-list {
          grid-template-columns: 1fr;
        }
      }
    }
  }

  .program {
    &_item {
      &-info {
        grid-template-columns: 1fr;
      }
    }
  }
}

@media(max-width: 535px) {
  .experts {

    &_item {
      position: relative;
      background-image: none !important;

      &__name {
        padding-top: 1.5vw;
      }

      &__skills {
        max-width: 70%;
        padding: 2vw 0;
      }

      &__desc {
        max-width: 100%;
      }

      &__user {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 125px;
        width: 115px;
        border-top-right-radius: var(--borderR);
        border-bottom-left-radius: var(--borderR);
        border: 3px solid var(--grey);
        background-color: var(--grey);
        position: absolute;
        right: 0;
        top: 0;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }

  }
}