.thanks {
	margin-top: 100px;
	margin-bottom: 40px;
	padding-top: 10px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 25px;
	width: 100%;
	&__img {
		width: 100%;
		max-width: 200px;
	}
	&__text {
		display: inline-block;
		text-align: center;
		font-size: clamp(1.5rem, 3vw, 2rem);
		font-weight: bold;
	}
}
